*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b6cbe0;
    font-family:sans-serif;
}

.container{
    height: 400px;
    width: 600px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px black;
}

.container:hover{
    height: 420px;
    width: 620px;
    box-shadow:4px 4px 12px black ;
}

.container .input{
    display: inline-block;
}

input,select,button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button{
    background: #00c896;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#result{
    margin-top:15px ;
    font-weight: 18px;
}
